[mysqld]

key_buffer_size            = 16k
max_allowed_packet         = 16k
thread_stack               = 192K
thread_cache_size          = 1
# This replaces the startup script and checks MyISAM tables if needed
# the first time they are touched
max_connections            = 1
table_cache                = 1
thread_concurrency         = 1
innodb_write_io_threads    = 1
innodb_read_io_threads     = 1
max_delayed_threads        = 1
max_insert_delayed_threads = 1

#
# * Query Cache Configuration
#
query_cache_limit          = 1M
query_cache_size           = 16k
